<h1>google map</h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": "35.5594994", //緯度
        "lng": "139.6311827", //経度
        "infowindow": "テックキャンプ渋谷オフィス"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);
  });
</script>

<%= form_for(@hotel) do |f| %>
    <%= f.text_field :address %>
    <%= f.submit "登録" %>
<%end %>

<div class="btn" style="cursor: pointer;">確かめる</div>
<div class="btn2" style="cursor: pointer;">確かめる</div>
<div class="btn3" style="cursor: pointer;">確かめる</div>
<%= @distance %>キロ